.places {
    margin: auto;
    padding: 14px 0 66px;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
}

@media (min-width: 650px) {
    .places {
        padding: 15px 0 90px;
        max-width: calc(100% - 48px);
    }
}

@media (min-width: 950px) {
    .places {
        padding: 12px 0 92px;
        max-width: calc(100% - 96px);
    }
}

@media (min-width: 1250px) {
    .places {
        max-width: 984px;
    }
}