.header__logo {
    width: 142px;
    height: 42px;
    background-image: url(images/header-logo.svg);
    background-size: cover;
    background-position: center;
}

@media (min-width: 650px) {
    .header__logo {
        width: 176px;
        height: 52px;
    }
}