.footer__link {
    margin: 32px 0 0;
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    font-size: 24px;
    line-height: 1;
    transition: opacity .3s ease-in;
}

.footer__link:hover {
    opacity: .6;
}

@media (min-width: 650px) {
    .footer__link {
        margin: 0 18px 0 0;
        font-size: 16px;
        line-height: 18px;
    }
    .footer__link:last-of-type {
        margin: 0;
    }
}