.lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 1.1;
    max-width: 300px;
    text-align: center;
    margin: 48px auto 0;
}

@media (min-width: 750px) {
    .lead__title {
        max-width: 750px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media (min-width: 1250px) {
    .lead__title {
        margin: 56px auto 0;
    }
}