.footer__copyright {
    margin: 48px 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
    align-self: end;
}

@media (min-width: 650px) {
    .footer__copyright {
        margin: 0 0 0 auto;
        line-height: 16px;
    }
}