.footer {
    margin: 0;
    padding: 32px 16px 24px;
    font-family: 'Inter', Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

@media (min-width: 650px) {
    .footer {
        padding: 88px 24px 24px;
        flex-direction: row;
    }
}

@media (min-width: 950px) {
    .footer {
        padding: 92px 48px 24px;
    }
}