.place__url-heading {
    margin: 0 0 12px;
    padding: 0 16px;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

@media (min-width: 650px) {
    .place__url-heading {
        padding: 0;
    }
}